.App {
  text-align: center;
}

.container{
  display: flex;
  justify-content: center;
  text-align: center;

}
.boardSquare{
  background-color: #d5bef3;
  border-style:solid;
  height:200px;
  width:200px;
};

.board{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.boardRow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

};
